$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

#input{

  padding-top: 10em;
  #input-field{
    height: 4em;
    box-shadow: 4px 5px 5px 1px #ccc; 
  }

}
